/*
* 0 - 600px - mobile phones
* 600 - 900px - tablet portrait
* 900 - 1200px - tablet landscape
* 1200 - 1800px - desktop
* 1800 - above - big screen
*/
.heading-secondary {
  text-transform: uppercase; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif; }
  @media only screen and (min-width: 56.25em) {
    body {
      margin: 3rem; } }

ul {
  list-style: none;
  display: inline-block; }

a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
  color: #777; }

.heading-secondary {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  transition: all .2s; }
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    .heading-secondary {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1rem rgba(119, 119, 119, 0.2); }

.header {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg) center/cover no-repeat;
  height: 100vh; }
  @media only screen and (min-width: 56.25em) {
    .header {
      background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg) center/cover no-repeat;
      height: 95vh; } }
