// --------------- text-transform ---------------------
%uppercase {
    text-transform: uppercase;
}

// --------------- content center -------------------------
%center {
    margin: 0 auto;
}

// --------------- text transform -----------------------------
%h3 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}