// buttons
.btn {
    @extend %uppercase;
    color: currentColor;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    @extend %center;
    font-size: 1.6rem;

    &.btn--white {
        background-color: $color-white;
    }

    &.btn--green {
        background-color: $color-primary;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    }
}